# Convert course table to JavaScript objects
<hr/>

**Current Problem**: Timestamp cannot be processed. Trick for now: make time all zero.

In [138]:
import pandas as pd
import numpy as np
import json
import moment
import random

In [139]:
pd.read_csv('topscore-courselist.csv')

,type*,courseName* (Keep it short),instructor*,startDate (MM-DD-YYYY)*,repeatBy,repeatTimes (Write 0 if no repeat)
0,ENGAGEMENT,CS Mentorship,Kevin Li,10-30-2020,NaN,0
1,GROUP,Common App Essay Workshop,Kate,10-30-2019,weeks,12
2,GROUP,College App Guidelines,Johnny Hope,6-1-2020,days,5

In [140]:
# Process the course list

with open('topscore-courselist.csv', 'r') as df:
    display = [line for line in df]
        
display = display[1:]

In [161]:
def createJSON(entry):
    entry = [e.rstrip('\n') for e in entry.split(",")]
    timestamp = str(moment.date(entry[3], "MM-DD-YYYY").epoch())
    print(entry)
    return {
        "type": entry[0], "courseName": entry[1], "instructor": entry[2] , 
        "startDate": timestamp, "repeatBy": entry[4], "repeatTimes": entry[5]
    }


json_dataset = {'MAN' + str(random.randint(1000000000, 9999999999)): createJSON(entry) for entry in display}
json_dataset

['ENGAGEMENT', 'CS Mentorship', 'Kevin Li', '10-30-2020', '', '0']
['GROUP', 'Common App Essay Workshop', 'Kate', '10-30-2019', 'weeks', '12']
['GROUP', 'College App Guidelines', 'Johnny Hope', '6-1-2020', 'days', '5']

{'MAN4347956387': {'type': 'ENGAGEMENT',
  'courseName': 'CS Mentorship',
  'instructor': 'Kevin Li',
  'startDate': '1604016000',
  'repeatBy': '',
  'repeatTimes': '0'},
 'MAN5992662829': {'type': 'GROUP',
  'courseName': 'Common App Essay Workshop',
  'instructor': 'Kate',
  'startDate': '1572393600',
  'repeatBy': 'weeks',
  'repeatTimes': '12'},
 'MAN1397416196': {'type': 'GROUP',
  'courseName': 'College App Guidelines',
  'instructor': 'Johnny Hope',
  'startDate': '1590969600',
  'repeatBy': 'days',
  'repeatTimes': '5'}}

In [162]:
print("The JSON dataset has", len(json_dataset), "entries")

The JSON dataset has 3 entries

In [164]:
exportJSON = open("courseList.json", "w");
exportJSON.write(json.dumps(json_dataset))
exportJSON.close()

## Testing

In [160]:
momentObj = moment.date("12-18-2012", "MM-DD-YYYY")
momentObj2 = moment.date("6-1-2020", "MM-DD-YYYY").epoch()
print(momentObj)
print(momentObj2)

2012-12-18T00:00:00+08.00
1590969600

0